.league-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.league-img {
  object-fit: cover;
  height: 100%;
  width: 300px;
  max-height: 300px; /* Adjust as necessary */
}

.container {
  margin-top: 50px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.container .league-card .link {
  color: #2362ff !important; /* Light blue color */
  transition: all 0.3s ease !important; /* Smooth transition */
}

.container .league-card .link:hover {
  color: #00008B !important; /* Dark blue color on hover */
  text-shadow: none !important; /* Remove shadow effect */
}
